/* Menambahkan scrollbar tipis */
.scrollable-menu {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #ffffff transparent; /* Warna scrollbar */
}

.scrollable-menu::-webkit-scrollbar {
  width: 6px;
}

.scrollable-menu::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}

/* Styling dropdown menu */
.dropdown-menu {
  z-index: 30;
  position: absolute;
  pointer-events: auto;
  left: 0;
}

/* Styling untuk item dropdown */
li {
  position: relative;
}
